html {
    margin-left: 1%;
    background-image: url("img/Triangle.jpg") ;
    background-size: contain;
}

.btn {
    background-color:white;
    padding: 0;
    border: none;
    background: none;
    color: grey;
}

.VerticalLine {
  border-left: thick solid #D3D3D3;
}

.left {
    width:20%;
    background-color:green;
    display: inline;

}

.right {
    width:80%;
    background-color:red;
    display:inline;
}

nav {
    background: transparent;
}

